@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Oranienbaum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

input.checkbox-menu[type="checkbox"] {
  display: none;
  -webkit-appearance: none;
}

input.checkbox-menu[type="checkbox"]:checked ~ div.menu-block {
  opacity: 1;
  visibility: visible;
}

.fas.fa-home {
  background-color: #bc0a1e;
}

.fas.fa-palette.nav {
  background-color: #70731b;
}

.far.fa-user.nav {
  background-color: #f65f69;
}

.far.fa-calendar-alt.nav {
  background-color: #d6c667;
}

.far.fa-comment-alt.nav {
  background-color: #2a2522;
}



/* .nav-icon {
  display: inline-block;
  font-size: 1.5em;
  padding: 0.5em;
  vertical-align: middle;
  
}
 */
.menu-block {
  display: inline-block;
  opacity: 0;
  vertical-align: middle;
  visibility: hidden;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

/* ul.navUL {
  list-style: none;
  margin: 0;
  padding: 0;
} */

/* ul.navUL li {
  display: inline-block;
  padding: 0px 5px;
}

ul.navUL li a {
  color: #999999;
  display: block;
  padding: 3px;
  text-decoration: none;
} */

/* ul.navUL li a:hover {
  color: #000000;
  text-decoration: none;
} */

